/* colors and font styles to use :
dark background color (hero & footer) : #1F2937
hero main text ("this website is owesome "):
48px extra-bold #F9FAF8
hero sacond text, header link text : 18px #E5E7EB
header logo text : 24px #F9FAF8
________________________________________________
button color: #3882F6
information header text : 36px extra-bold #1F2937
___________________________________________________
quote section background color : #E5E7EB 
quote text : 36px light italic #1F2937

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin:0 !important;
    padding:0;
}
.header-hero-section {
    background-color:#1f2937
}
.header{
    display: flex;
    align-items: center;
    margin: 0px;
    justify-content: space-around;
    font-size: 18px;
    
}
.header-logo{
    height: 70px;
    width: auto;
    border-radius: 50%;
}
.header-links{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 50px;
    color:#1f2937 ;
}
.header-links a{
    color:#E5E7EB ;
    text-decoration: none;
}
.hero{
    display: flex;
    justify-content: center;
    /* margin: 100px;
    margin-left: 220px;
    margin-right: 220px;
    margin-bottom: 200px;
    padding-bottom: 100px; */
padding-block:100px;
margin-inline:auto;
}
.about-the-website{
    align-self: center;
    margin-right: 50px;
}
h1 {
    font-size: 55px;
    font-weight: 900px;
    margin: 0px;
    padding: 0px;
    color: #F9FAF8;
    font-family :"roboto",extra-bold;
}
.the-hero-text{
    color: #E5E7EB;
    font-size:18px ;
    font-family :"roboto";
}
.sign-up{
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 1000px;
    padding: 7px 18px;
    border-radius: 5px;
    border: 0;
}
/*_______________next section___________*/
.Work-samples-info{
    margin: 100px;
}

h2{
    font-size: 36px;
    font-weight: 800px;
    color: #1f2937;
    text-align: center;
    font-style :extra-bold ;
    margin-top: -50px;
    text-transform: capitalize;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}
.logo-sample{
    height: 200px;
    width: 200px;
    margin: 30px;
    border-radius: 10px;
    border:solid #3882F6;
}

.logo-info{
    text-align: center;
    margin-top: -10px;
}



